<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap"
  rel="stylesheet"
/>
<div class="background1">
  <div class="container">
    <div class="parent">
      <h1 class="header1">Let's learn English together!</h1>
      <br />
    </div>
    <div class="child">
      <p class="p1">
        ერთად შეგვიძლია ვისწავლოთ და გადავიმეოროთ საინტერესო ფრაზები, სიტყვები.
        ასევე ყურადღება მივაქციოთ გრამატიკას, რა თქმა უნდა, ეს საიტი
        დაგეხმარებათ თქვენი ცოდნის გამყარებაში. ერთად ვისწავლოთ საბაზისო
        გრამატიკა და ხშირად გამოყენებადი სიტყვები. ბოლოს თქვენ უკვე შეგეძლებათ
        გაიგოთ თქვენი ინგლისურის დონე ტესტის დაწერის საშუალებით, რაც უფრო კარგად
        გაგიმყარებთ მიღებულ ცოდნას!
      </p>
    </div>
    <br />
    <button
      href="#"
      routerLink="/introduction"
      type="button"
      class="btn btn-secondary btn-lg btn-block"
    >
      <b> Get Started! </b>
    </button>
  </div>
</div>
