.header2 {
    text-align: center;
    padding: 15px;
  }
  .table {
    width: 100%;
    margin-left: -50px;
  }
  .section1 {
    margin-left: -60px;
    border: rgb(255, 255, 255) solid;
    margin-right: 50px;
  }
  #p11 {
    text-align: center;
  }
  .background1 {
    background-image: url("src/assets/images/image-folder/images/intro_pic.jpg");
    height: auto;
    width: auto;
    
  }
  h1{
    text-align: center;
  }