<div class="background1">
<div class="container">
<h1>Grammar </h1>
    <table class="table" >
      <thead class="thead-dark">
        <tr>
          <th colspan="2" scope="col" (click) = "showPresent()"> აწმყო</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Present Simple</th>
          <td>S+ზმნა(საწყის ფორმაში)</td>
        </tr>
        <tr>
          <th scope="row">Present Continuous</th>
          <td>S + am/is/are + ზმნა + ing</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="present">
    <ul>
        <li>
          <b>Present Simple</b> გამოიყენება ზოგადი მოქმედებების დროს. ასევე ხშირად
          ვიყენებთ სტაბილური მოქმედებების გამოსახატად
        </li>
      </ul>
      <p id="p11">I <b>have</b> breakfast <b>every day</b></p>
      <p id="p11"><b> Do</b> I have breakfast every day?</p>
      <p id="p11">I <b>don't</b> have breakfast every day</p>
      <ul>
        <li>
          <b> Present Continuous</b> ვიყენებთ, როცა გვინდა გამოვხატოთ თუ რა ხდება
          ახლა, ამ წამს, ამ მომენტში.
        </li>
      </ul>
      <p id="p11">John <b>is listening</b> to music <b>right now</b></p>
      <p id="p11"><b> Is</b> John <b>listening</b> to music right now?</p>
    
      <p id="p11">John <b>isn't listening</b> to music right now.</p>
      <br>
      <button type="button" class = "btn btn-dark" (click) = "closePresent()">Close</button>
</div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="2" scope="col" (click) = "showPast()">წარსული</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Past Simple</th>
            <td>S + ზმნა + ed/II</td>
          </tr>
          <tr>
            <th scope="row">Past Continuous</th>
            <td>S + was/were + ზმნა + ing</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="past">
          
    <ul>
      <li>
        <b>Past Simple,</b> წარსული მარტივი დრო, რომელიც გამოხატავს წარსულ
        მოქმედებას თუ რა მოხდა კონკრეტულ დროს (დროის დაკონკრეტება საჭიროა)
      </li>
    </ul>
    <p id="p11">I <b>bought</b> this book <b>yesterday</b></p>
    <p id="p11"><b>Did</b> I buy this book yesterday?</p>
    <p id="p11">I <b>didn't</b> buy this book yesterday</p>
    <ul>
      <li>
        <b>Past Continuous,</b> წარსული განგრძობითი დრო, რომელიც გამოხატავს
        პროცესს წარსულში თუ ხდებოდა კონკრეტულ დროს (დროის დაკონკრეტება საჭიროა)
      </li>
    </ul>
    <p id="p11">I <b>was doing</b> this exercise <b>yesterday</b></p>
    <p id="p11"><b> Was</b> I <b>doing</b> this exercise yesterday?</p>
    <p id="p11">I <b>wasn't doing </b> this exercise yesterday.</p>
    <button type="button" class = "btn btn-dark" (click) = "closePast()">Close</button>
      </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th colspan="2" scope="col" (click)="showFuture()">მომავალი</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Future Simple</th>
            <td>S+ will + ზმნა(საწყის ფორმაში)</td>
          </tr>
          <tr>
            <th scope="row">Future Continuous</th>
            <td>S + will + be + ზმნა + ing</td>
          </tr>
        </tbody>
      </table>
   <div *ngIf="future">
  
    <ul>
      <li>
        <b>Future Simple,</b> მომავალი მარტივი დრო, რომელიც გამოხტავს მოქმედებას
        მომავალში, სპონტანურ გადაწყვეტილებს.
      </li>
    </ul>
    <p id="p11">I <b>will meet</b> my friends tomorrow.</p>
    <p id="p11"><b> Will</b> I meet my friends tomorrow?</p>
    <p id="p11">I <b>will not (= won't)</b> meet my friends tomorrow</p>
    <ul>
      <li>
        <b>Future Continuous,</b> მომავალი განგრძობითი დრო. ვიყენებთ როცა
        ვსაუბრობთ თუ რის გაკეთების პროცესში ვიქნებით მოვავალში კონკრეტულ დროს.
      </li>
    </ul>
    <p id="p11">John <b>will be reading </b> this book this time tomorrow</p>
    <p id="p11">
      <b> Will</b> John <b>be reading</b> this book this time tomorrow?
    </p>
    <p id="p11">
      John <b>will not (= won't) be </b> reading this book this time tomorrow
      

    </p>
    <button type="button" class = "btn btn-dark" (click) = "closeFuture()">Close</button>
  </div>
    <br />
    <button
      href="#"
      routerLink="/page2"
      type="button"
      class="btn btn-dark btn-lg btn-block"
    >
      <b>Vocabulary </b>
    </button>
    
  </div>
  </div>