.container{
    background-color: rgba(145, 145, 145, 0.568);
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}
h1{
    text-align: center;
}
 .background1 {
    background-image: url("src/assets/images/image-folder/images/intro_pic.jpg");
    height: auto;
    width: auto;
    overflow-x: hidden;
  }
body{
    min-height: 100vh;
}
.form-inline{
    padding:5px;
}
.center{
    text-align: center;

}