<div class="background1">
<div class="container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ul class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 id="header1">IDIOMS</h1>
  
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">იდიომი</th>
                <th scope="col">მნიშვნელობა</th>
                <th scope="col">მაგალითი</th>
                <th scope="col" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Sit on a donkey</th>
                <td>ვირზე შეჯდომა (ჯიუტი)</td>
                <td>She always sits on a donkey when I am talking</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Born on a happy star</th>
                <td>ბედნიერ ვარსკვლავზე დაიბადო. (იღრბლიანი იყო)</td>
                <td>Everybody tells me that I was born on a happy star</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Hold your jaw!</th>
                <td>ენას კბილი დააჭირე!</td>
                <td>
                  She always talks too much and I always tell her to hold her jaw!
                </td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Sooner or later</th>
                <td>რაც მალე მით უკეთესი</td>
                <td>You're going to have to face it sooner or later.</td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Wake up on a left leg</th>
                <td>მარცხენა ფეხზე ადგე (ცუდი დღე გქონდეს)</td>
                <td>I woke up on a left leg (= I am having a bad day))</td>
                <td colspan="1"></td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="carousel-item">
          <h1 id="header1">RESTAURANT VOCABULARY</h1>
  
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ფრაზა</th>
                <th scope="col">მნიშვნელობა</th>
                <th scope="col"></th>
                <th scope="col" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Can we have the bill/menu please?</th>
                <td>შეიძლება ანგარიში/მენიუ?</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Do you see anything you like on the menu?</th>
                <td>ხედავ რამე მოსაწონს მენიუში?</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Help yourself!</th>
                <td>მიირთვი!/ გადაიღე!</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Let's eat out tonight!</th>
                <td>მოდი ამაღამ რესტორანში ვივახშმოთ</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">I always leave a tip</th>
                <td>მე ყოველთვის ,,ჩაის" ვუტოვებ მიმტანს</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="carousel-item">
          <h1 id="header1">AT THE RAILWAY STATION</h1>
  
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ფრაზა</th>
                <th scope="col"> მნიშვნელობა</th>
                <th scope="col" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">How can I get to the railway station?</th>
                <td>როგორ მივიდე რკინიგზის სადგურამდე?</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Did you happen to see the conductor?</th>
                <td>გამცილებელი რომ არ გინახავთ?</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">Straight ahead, sir, fourth car?</th>
                <td>პირდაპირ, მეოთხე ვაგონი სერ.</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">
                  Could you tell me what time the next train is?
                </th>
                <td>შეგიძლიათ მითხარათ რომელ საათზეა შემდეგი მატარებელი</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
              <tr>
                <th scope="row">When does it get in?</th>
                <td>რომელ საათზე ჩამოდის?</td>
                <td></td>
                <td colspan="1"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>